<!DOCTYPE html lang="en-us">
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Wordguesser</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Play Wordguesser!</h1>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</div>
</body>
</html>